body{
    min-height: 100vh;
    background: linear-gradient(hwb(114 4% 8% / 0.946), transparent),
    linear-gradient(to top left, #5825ef, transparent),
    linear-gradient(to top right, #0e0101, transparent);;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}



